@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SiyamRupali';
  src: url('/fonts/SiyamRupali.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}